src/xsd/wfs/1.1.0/wsdl/wfs-responses.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
   targetNamespace="http://www.opengis.net/wfs/responses"
   xmlns:wfs="http://www.opengis.net/wfs"
   xmlns:ows="http://www.opengis.net/ows"
   xmlns:wfs-util="http://www.opengis.net/wfs/util"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <wsdl:documentation xmlns:dc="http://purl.org/dc/elements/1.1/">
      <dc:date>2004-06-07</dc:date>
      <dc:description>
         This WSDL document defines the response messages and types
         for the WFS.
      </dc:description>
   </wsdl:documentation>
   <wsdl:types>
      <xsd:schema elementFormDefault="qualified"
         targetNamespace="http://www.opengis.net/wfs" version="1.1.0"
         xmlns:wfs="http://www.opengis.net/wfs"
         xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:include
schemaLocation="http://schemas.opengis.net/wfs/1.1.0/wfs.xsd"/>
         <xsd:import namespace="http://www.opengis.net/ows"
schemaLocation="http://schemas.opengis.net/ows/1.0.0/owsGetCapabilities.xsd"/>
         <xsd:import namespace="http://www.opengis.net/ows"
schemaLocation="http://schemas.opengis.net/ows/1.0.0/owsExceptionReport.xsd"/>
         <xsd:import namespace="http://www.w3.org/2001/XMLSchema"
schemaLocation="http://www.w3.org/2001/XMLSchema.xsd"/>
         <xsd:complexType name="DescribeFeatureTypeResponseType">
            <xsd:sequence>
               <xsd:element ref="xsd:schema"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="ServiceExceptionReport">
      <wsdl:part element="ows:ExceptionReport" name="Body"/>
   </wsdl:message>
   <wsdl:message name="GetCapabilitiesResponse">
      <wsdl:part element="ows:Capabilities" name="Body"/>
   </wsdl:message>
   <wsdl:message name="DescribeFeatureTypeResponse">
      <wsdl:part type="wfs-util:DescribeFeatureTypeResponseType" name="Body"/>
   </wsdl:message>
   <wsdl:message name="GetFeatureResponse">
      <wsdl:part element="wfs:FeatureCollection" name="Body"/>
   </wsdl:message>
   <wsdl:message name="GetFeatureWithLockResponse">
      <wsdl:part element="wfs:FeatureCollection" name="Body"/>
   </wsdl:message>
   <wsdl:message name="GetGMLObjectResponse">
      <wsdl:part element="wfs-url:GetGMLObjectResponse" name="Body"/>
   </wsdl:message>
   <wsdl:message name="LockFeatureResponse">
      <wsdl:part element="wfs:WFS_LockFeatureResponse" name="Body"/>
   </wsdl:message>
   <wsdl:message name="TransactionResponse">
      <wsdl:part element="wfs:WFS_TransactionResponse" name="Body"/>
   </wsdl:message>
</wsdl:definitions>
